.dashboard-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.income,
.expense,
.balance {
  grid-column: span 1;
  grid-row: span 1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  background-color: yellow;
}

.graph {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #333333;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
}

.graph-image {
  border-radius: 10px;
  height: 100%;
}
