.dashboard-container {
  display: grid;
  height:100%;
  width:100%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column: span 1;
  height:90%;
  grid-row: span 1;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
  background-color: #27293D;
}

.card p{
  color:white;
}

.card h1{
  font-size:5em;
}

.graph {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  grid-row: span 1;
  background-color: #27293D;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
  height:90%;
}