.form {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  height: auto;
  gap: 10px;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
