.log-history {
  display: flex;
  flex-direction: column;
  background-color: #333333;

  height: 90%;
  width: 90%;

  border-radius: 10px;
  overflow-y: auto;
  align-items: center;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.log {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr 1fr 1fr; /* Removed commas between columns */
  grid-template-rows: 1fr 1fr; /* Removed commas between rows */
  align-items: center;
  justify-content: center;
  background-color: #222222;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.log-history::-webkit-scrollbar {
  display:none;

}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-row: 1 / 3;
  background-color: #1a1a1a;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 2;
  background-color: #1a1a1a;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 90%;
  width: 90%;
}

.timestamp {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2 / 3;
  background-color: #1a1a1a;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 90%;
  width: 90%;
}

.recurring {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  background-color: #1a1a1a;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
}

.description {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  background-color: #1a1a1a;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: auto;
}
